*{
    padding: 0;
    margin: 0;
}
.todo-btn{
 background-color: bisque;
 border: 2px solid rebeccapurple;
 width: 70px;
 height: 50px;
 font-weight: bold;
 border-radius: 10px;
}
.todo-btn:hover{
    background-color: rgb(155, 229, 159);
}
.todo-list li{
    padding: 5px;
    margin: 5px 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.todo-list li:hover{
    background-color: rgb(255, 179, 179);
}
.todo-list .active{
    background-color: rgb(255, 161, 161);
    box-shadow: 3px 3px black;
}
.check{
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.todo-list{
    list-style-type: none;
}
.content{
    margin: 5px;
    width: 500px;
    padding: 5px;
    display: inline;
    border: 1px solid black;
    background-color: azure;
}
.handler{
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    border: 1px solid black;
    background-color: beige;
}
.container{
    display: flex;
}

